<nav class="navbar navbar-expand-lg navbar-default">
  <div class="container">
      <div class="d-flex justify-content-between flex-grow-1">
          <a class="navbar-brand" href="#"> <img src="assets/images/logo.svg" alt="Directropoli"></a>
          <div>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#myNavbar7">
                  <span class="navbar-toggler-icon"></span>
              </button>
          </div>
      </div>
      <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar7">
          <ul class="navbar-nav ms-auto flex-nowrap">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-2">
              <a class="btn btn-outline-primary me-md-2" type="button" routerLink="/signin">Login</a>
              <a class="btn btn-primary" type="button" routerLink="/register">Sign-up</a>
            </div>
          </ul>
      </div>
  </div>
</nav>
<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="assets/images/build.svg" class="d-block mx-lg-auto img-fluid" alt="Build your directory" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-1 fw-bold lh-1 mb-3">Showcase your directory beautifully.</h1>
      <p class="lead">Create your directory faster with this web app!</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a type="button" class="btn btn-primary btn px-4 me-md-2">Demo</a>
      </div>
    </div>
  </div>
</div>

<footer class="d-flex flex-wrap justify-content-center bg-dark align-items-center py-3 my-4 border-top">
  <div class="d-flex align-items-center">
    <span class="text-muted">&copy; 2021 Directropoli</span>
  </div>
</footer>
