.text-light {
  --bs-text-opacity: 1;
  h1{
    color: #fff!important;
  }

}
.bg-gradient {
  background: rgb(218, 97, 90) !important;
  background: linear-gradient(
90deg
, rgba(218, 97, 90, 1) 0%, rgba(236, 173, 94, 1) 100%) !important;
}
