<div *ngIf="member != null" class="row d-flex justify-content-center align-items-top py-4 text">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">{{member.name}} </h1>
  </div>
  <!-- Main Content -->
  <div class="col-lg-8">
    <div class="col-lg-12 mb-2">
      <div class="card shadow-sm">
          <img [src]="getImg('header')" class="card-img-top img-gluid" alt="Galerías Guadalajara">
          <div class="card-body">
              <div class="position-relative">
                  <img class="img-fluid rounded-circle position-absolute position-absolute bottom-0 start-0" [src]="getImg('profile')" width="10%">
              </div>
              <div class="d-flex justify-content-between mt-2">
                  <div>
                      <h5 class="card-title">{{member.name}}</h5>
                      <p class="small-text">{{member.short_description}}</p>
                  </div>
                  <div>
                      <ul class="nav">
                        <li class="nav-item">
                          <a class="nav-link" href="{{member.facebook}}" target="_blank" rel="noopener"><i class="fab fa-facebook"></i></a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="{{member.twitter}}" target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="{{member.instagram}}" target="_blank" rel="noopener"><i class="fab fa-instagram"></i></a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="{{member.whatsapp}}" target="_blank" rel="noopener"><i class="fab fa-whatsapp"></i></a>
                        </li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
    </div>
    <div class="col-lg-12 my-4">
        <div class="card shadow-sm">
            <div class="card-body">
                <div class="d-flex align-items-start text-start">
                  <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <button class="nav-link active" id="v-pills-description-tab" data-bs-toggle="pill" data-bs-target="#v-pills-description" type="button" role="tab" aria-controls="v-pills-description" aria-selected="true">Descripción</button>
                    <button class="nav-link" id="v-pills-contact-tab" data-bs-toggle="pill" data-bs-target="#v-pills-contact" type="button" role="tab" aria-controls="v-pills-contact" aria-selected="false">Contacto</button>
                    <button class="nav-link" id="v-pills-address-tab" data-bs-toggle="pill" data-bs-target="#v-pills-address" type="button" role="tab" aria-controls="v-pills-address" aria-selected="false">Dirección</button>
                    <button class="nav-link" id="v-pills-media-tab" data-bs-toggle="pill" data-bs-target="#v-pills-media" type="button" role="tab" aria-controls="v-pills-media" aria-selected="false">Media</button>
                  </div>
                  <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-description" role="tabpanel" aria-labelledby="v-pills-description-tab">
                      {{member!.description}}
                    </div>
                    <div class="tab-pane fade" id="v-pills-contact" role="tabpanel" aria-labelledby="v-pills-contact-tab">
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item"><i class="fas fa-user-circle me-2"></i>{{member!.manager}}</li>
                        <li class="list-group-item"><i class="fas fa-id-badge me-2"></i>{{member!.job_possion}}</li>
                        <li class="list-group-item"><i class="fas fa-phone-alt me-2"></i>{{member!.phone}}</li>
                        <li class="list-group-item"><i class="fas fa-envelope me-2"></i>{{member!.email}}</li>
                      </ul>
                    </div>
                    <div class="tab-pane fade" id="v-pills-address" role="tabpanel" aria-labelledby="v-pills-address-tab">{{member!.address}}<span class="ms-2"><a href="">mapa</a></span></div>
                    <div class="tab-pane fade" id="v-pills-media" role="tabpanel" aria-labelledby="v-pills-media-tab">
                      <div class="d-grid gap-3 align-items-center" style="grid-template-columns: 1fr 2fr;">
                        <img class="img-fluid img-thumbnail"
                          nz-image
                          alt=""
                          *ngFor="let img of getMultimedia('multimedia')"
                          nzSrc="{{img.base64}}" >
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <!-- Side Content -->
  <div class="col-lg-4 col-md-12 col-sm-12 col-12">
    <div class="col-lg-12 my-4">
      <div class="card shadow-sm">
        <div class="mt-4 mb-2 ms-3">
          <h4 class="card-title">Promociones:</h4>
        </div>
        <div class="card-body">
          <nz-carousel nzAutoPlay class="promotions-slider">
            <div nz-carousel-content *ngFor="let promo of  member.promotions">
              <img
                nz-image
                nzSrc="{{promo.base64}}"
                class="d-block w-100 rounded promotion">
                <div class="content-slider row">
                  <div class="col"><small>Vigencia:<br>{{promo.validity_ini}}</small></div>
                </div>
            </div>
          </nz-carousel>
        </div>
      </div>
    </div>

  </div>
</div>

<nz-skeleton [nzLoading]="member == null" [nzActive]="true" [nzAvatar]="true" class="mt-5">
  <ng-template #starAction>
    <i nz-icon nzType="star-o" style="margin-right: 8px;"></i>
    156
  </ng-template>
  <ng-template #likeAction>
    <i nz-icon nzType="like-o" style="margin-right: 8px;"></i>
    156
  </ng-template>
  <ng-template #msgAction>
    <i nz-icon nzType="message" style="margin-right: 8px;"></i>
    2
  </ng-template>
</nz-skeleton>
<nz-skeleton [nzLoading]="member == null" [nzActive]="true" [nzAvatar]="true">
  <ng-template #starAction>
    <i nz-icon nzType="star-o" style="margin-right: 8px;"></i>
    156
  </ng-template>
  <ng-template #likeAction>
    <i nz-icon nzType="like-o" style="margin-right: 8px;"></i>
    156
  </ng-template>
  <ng-template #msgAction>
    <i nz-icon nzType="message" style="margin-right: 8px;"></i>
    2
  </ng-template>
</nz-skeleton>
<nz-skeleton [nzLoading]="member == null" [nzActive]="true" [nzAvatar]="true">
  <ng-template #starAction>
    <i nz-icon nzType="star-o" style="margin-right: 8px;"></i>
    156
  </ng-template>
  <ng-template #likeAction>
    <i nz-icon nzType="like-o" style="margin-right: 8px;"></i>
    156
  </ng-template>
  <ng-template #msgAction>
    <i nz-icon nzType="message" style="margin-right: 8px;"></i>
    2
  </ng-template>
</nz-skeleton>
