<main class="form-signin">
  <form class="text-center" [formGroup]="form" (ngSubmit)="onSubmit()">
      <img class="my-4" src="assets/images/logo.svg" alt="Directropoli">
    <h1 class="h3 mb-3 fw-normal">Please enter new password</h1>
    <div class="form-floating">
      <input type="password" class="form-control"
      [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
      formControlName="password"
      name="password"
      placeholder="Password">
      <label for="floatingInput">password</label>
    </div>
    <div class="form-floating">
      <input type="password"
      class="form-control"
      [ngClass]="{ 'is-invalid': submitted && f.password_confirmation.errors }"
      formControlName="password_confirmation"
      name="password_confirmation"
      placeholder="password confirmation">
      <label for="floatingPassword">password confirmation</label>
    </div>

    <div class="mb-3" *ngIf="isError">
      <nz-alert nzType="error" nzMessage="Password are not the same" nzShowIcon></nz-alert>
    </div>

    <button class="w-100 btn btn-lg btn-primary" nz-button [nzLoading]="isLoading" nzShape="circle"  type="submit">send</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2021</p>
  </form>
</main>
