<div class="container col-xxl-6 px-4 py-5">
  <div class="row d-flex justify-content-center">
      <div class="col-lg-8">
          <div *ngIf="!isSend" class="card">
              <div class="card-body">
                  <div class="forgot">
                      <h2>Forgot your password?</h2>
                      <p>Change your password in three easy steps. This will help you to secure your
                          password!</p>
                      <ol class="list-unstyled">
                          <li><span class="text-primary text-medium">1. </span>Enter your email
                              address below.</li>
                          <li><span class="text-primary text-medium">2. </span>Our system will send
                              you a temporary link</li>
                          <li><span class="text-primary text-medium">3. </span>Use the link to reset
                              your password</li>
                      </ol>
                  </div>
                  <div class="my-4">
                      <p style="margin: 0;">Thank you for choosing Directropoli. First, you need to
                          confirm
                          your account.
                          Just press the button below.</p>

                  </div>
                  <div class="my-4">
                    <form class="card mt-4" [formGroup]="form" (ngSubmit)="onSubmit()">
                      <div class="card-body">
                          <div class="form-group">
                            <label for="email-for-pass">Enter your email address</label>
                            <input class="form-control" type="text"
                            [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                            formControlName="email"
                            name="email"
                            placeholder="email addres">
                            <small class="form-text text-muted">Enter the email address you used during the
                                  registration on
                                  BBBootstrap.com. Then we'll email a link to this address.</small>
                            </div>
                      </div>
                      <div class="card-footer">
                          <a nz-button nzType="link" [routerLink]="['/login']" >Cancelar</a>
                          <button nz-button nzType="primary" [nzLoading]="isLoading" type="submit">Enviar nuevo password</button>
                      </div>
                    </form>
                  </div>
              </div>
          </div>

          <nz-result *ngIf="isSend" [nzIcon]="'smile-twotone'" [nzTitle]="'Great, we have done all the operators!'">
            <div nz-result-extra>
              <button nz-button nzType="primary" (click)="backLogin()">Next</button>
            </div>
          </nz-result>
      </div>
  </div>
</div>
