<header class="p-3 border-bottom">
  <div class="container-fluid">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
          <img class="" src="assets/images/logo.svg" alt="Directropoli">
      </a>
      <form class="w-50 me-5 ms-5">
          <div class="input-group mb-1">
              <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
              <button class="btn btn-primary">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                      <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                  </svg>
              </button>
          </div>
      </form>
      <div class="a-elements">
          <div class="d-flex justify-content-end">
              <div class="flex-shrink-0 dropdown pe-3 border-end">
                  <div class="d-flex align-items-center">
                      <p class="small me-2 mt-2">Language</p>
                          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                              <img src="assets/images/avatar.svg"  class="rounded-circle">
                          </a>
                          <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                              <li><a class="dropdown-item" href="#">New project...</a></li>
                              <li><a class="dropdown-item" href="#">Settings</a></li>
                              <li><a class="dropdown-item" href="#">Profile</a></li>
                              <li><hr class="dropdown-divider"></li>
                              <li><a class="dropdown-item" href="#">Sign out</a></li>
                          </ul>
                  </div>
              </div>
              <div class="flex-shrink-0 dropdown ps-3">
                  <div class="d-flex align-items-center">
                      <p class="small me-2 mt-2">Alan Aguirre</p>
                          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                              <img src="assets/images/avatar.svg"  class="rounded-circle">
                          </a>
                          <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                              <li><a class="dropdown-item" href="#">New project...</a></li>
                              <li><a class="dropdown-item" href="#">Settings</a></li>
                              <li><a class="dropdown-item" href="#">Profile</a></li>
                              <li><hr class="dropdown-divider"></li>
                              <li><a class="dropdown-item" href="#">Sign out</a></li>
                          </ul>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>
</header>
<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">
              <span data-feather="home"></span>
              Dashboard
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file"></span>
              Orders
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="shopping-cart"></span>
              Products
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="users"></span>
              Customers
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="bar-chart-2"></span>
              Reports
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="layers"></span>
              Integrations
            </a>
          </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Saved reports</span>
          <a class="link-secondary" href="#" aria-label="Add a new report">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Current month
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Last quarter
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Social engagement
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Year-end sale
            </a>
          </li>
        </ul>
      </div>
      <div class="position-sticky pt-3">
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Admin</span>
          <a class="link-secondary" href="#" aria-label="Add a new report">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        <ul class="nav flex-column">
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">
                <span data-feather="home"></span>
                INICIO
            </a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">
                <span data-feather="file"></span>
                INTEGRANTES
            </a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">
                <span data-feather="shopping-cart"></span>
                PROMOCIONES
            </a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">
                <span data-feather="users"></span>
                MARKETPLACE
            </a>
            </li>
        </ul>
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Directorio</span>
          <a class="link-secondary" href="#" aria-label="Add a new report">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              DIRECTORIOS
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              CATEGORÍAS
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              FICHAS
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
      </div>
      <div class="col-lg-12">
          <div class="card shadow-sm">
              <img src="assets/images/mall01.jpg" class="card-img-top img-gluid" alt="Galerías Guadalajara">
              <div class="card-body">
                  <div class="position-relative">
                      <img class="img-fluid rounded-circle position-absolute position-absolute bottom-0 start-0" src="assets/images/galerias.png" alt="Galerías Guadalajara" width="10%">
                  </div>
                  <div class="d-flex justify-content-between mt-2">
                      <h5 class="card-title">Galerias Guadalajara</h5></div>
              </div>
          </div>
      </div>
      <div class="row d-flex justify-content-center align-items-center py-4">
          <h2 class="py-2 text-muted">Categorias</h2>
          <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
              <div class="card shadow-sm">
                  <img src="assets/images/clothes01.jpg" alt="">
                  <div class="card-body">
                      <a href="">
                          <h5 class="card-title">Ropa</h5>
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
              <div class="card shadow-sm">
                  <img src="assets/images/jewelry01.jpg" alt="">
                  <div class="card-body">
                      <a href="">
                          <h5 class="card-title">Joyerias</h5>
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
              <div class="card shadow-sm">
                  <img src="assets/images/rest01.jpg" alt="">
                  <div class="card-body">
                      <a href="">
                          <h5 class="card-title">Restaurantes</h5>
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
              <div class="card shadow-sm">
                  <img src="assets/images/tech01.jpg" alt="">
                  <div class="card-body">
                      <a href="">
                          <h5 class="card-title">Tecnología</h5>
                      </a>
                  </div>
              </div>
          </div>
      </div>


    </main>
  </div>
</div>
