<nav class="navbar navbar-expand-xxl navbar-default bg-white" aria-label="Directropoli NavBar">
  <div class="container">
    <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
      <img class="" src="assets/images/logo.svg" alt="Directropoli">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExampleXxl"
      aria-controls="navbarsExampleXxl" aria-expanded="false" aria-label="Toggle navigation">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-list"
          viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
        </svg>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleXxl">
      <form class="w-50 me-5 ms-5" [formGroup]="form" (ngSubmit)="search()">
        <div class="input-group mb-1">
          <input type="search" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.search.errors }"
          formControlName="search"
          name="search"
          placeholder="Search..." aria-label="Search">
          <button class="btn btn-primary">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
              viewBox="0 0 16 16">
              <path
                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
            </svg>
          </button>
        </div>
      </form>
      <ul class="navbar-nav lex-row flex-wrap ms-md-auto my-4">
        <li class="nav-item col-4 col-md-auto">
          <a class="nav-link active" aria-current="page" [routerLink]="['/dashboard/index']">Inicio</a>
        </li>
        <li class="nav-item dropdown  col-4 col-md-auto">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Administración
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" >INTEGRANTES</a></li>
            <li><a class="dropdown-item" >PROMOCIONES</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" >MARKETPLACE</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown  col-4 col-md-auto ms-4">
          <div class="d-flex align-items-center">
            <p class="small me-2 mt-2">{{session.user.name}}</p>
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              <img src="assets/images/avatar.svg" class="rounded-circle">
            </a>
            <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
              <li><a class="dropdown-item" >Profile</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" (click)="logout()" >Sign out</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <main class="col-md-12 ms-sm-auto col-lg-12 px-md-4">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
