<div class="row d-flex justify-content-center align-items-top py-4 text">
  <!-- Main Content -->
  <div class="col-lg-8">
      <div class="col-lg-12 mb-2">
          <div class="card shadow-sm">
              <img src="assets/images/mall01.jpg" class="card-img-top img-gluid" alt="Galerías Guadalajara">
              <div class="card-body">
                  <div class="position-relative">
                      <img class="img-fluid rounded-circle position-absolute position-absolute bottom-0 start-0" src="assets/images/galerias.png" alt="Galerías Guadalajara" width="10%">
                  </div>
                  <div class="d-flex justify-content-between mt-2">
                      <div>
                          <h5 class="card-title">Zapaterias El Chido</h5>
                          <p class="small-text">Tienda de zapatos de marcas premium</p>
                      </div>
                      <div>
                          <p class="h6 text-end"><a href="">Zapaterias</a></p>
                          <ul class="nav">
                              <li class="nav-item">
                                <a class="nav-link"href="#"><i class="fab fa-facebook"></i></a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href="#"><i class="fab fa-twitter"></i></a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href="#"><i class="fab fa-instagram"></i></a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href="#"><i class="fab fa-whatsapp"></i></a>
                              </li>
                            </ul>
                      </div>

                  </div>
              </div>
          </div>
      </div>
      <div class="col-lg-12 my-4">
          <div class="card shadow-sm">
              <div class="card-body">
                  <div class="d-flex align-items-start text-start">
                      <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <button class="nav-link active" id="v-pills-description-tab" data-bs-toggle="pill" data-bs-target="#v-pills-description" type="button" role="tab" aria-controls="v-pills-description" aria-selected="true">Descripción</button>
                        <button class="nav-link" id="v-pills-contact-tab" data-bs-toggle="pill" data-bs-target="#v-pills-contact" type="button" role="tab" aria-controls="v-pills-contact" aria-selected="false">Contacto</button>
                        <button class="nav-link" id="v-pills-address-tab" data-bs-toggle="pill" data-bs-target="#v-pills-address" type="button" role="tab" aria-controls="v-pills-address" aria-selected="false">Dirección</button>
                        <button class="nav-link" id="v-pills-media-tab" data-bs-toggle="pill" data-bs-target="#v-pills-media" type="button" role="tab" aria-controls="v-pills-media" aria-selected="false">Media</button>
                      </div>
                      <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-description" role="tabpanel" aria-labelledby="v-pills-description-tab">Somos una empresa 100% Mexicana líder en la venta de zapatos.
                          Nos distinguimos por ofrecer alta moda, calidad y precios razonables, nuestra misión es apoyar a las familias mexicanas que se dedican a la mano de obra en la industria del calzado y ropa así como generar ingresos a cientos de miles de afiliados.
                          Por eso somos los mejores catálogos de México.</div>
                        <div class="tab-pane fade" id="v-pills-contact" role="tabpanel" aria-labelledby="v-pills-contact-tab">
                          <ul class="list-group list-group-flush">
                              <li class="list-group-item"><i class="fas fa-user-circle me-2"></i>Alan Aguirre</li>
                              <li class="list-group-item"><i class="fas fa-id-badge me-2"></i>Gerente General</li>
                              <li class="list-group-item"><i class="fas fa-phone-alt me-2"></i>33 1234 5678</li>
                              <li class="list-group-item"><i class="fas fa-envelope me-2"></i>alan@elchido.com</li>
                            </ul>
                        </div>
                        <div class="tab-pane fade" id="v-pills-address" role="tabpanel" aria-labelledby="v-pills-address-tab">Calzada de las tunas #2190, Americana, 45050. Zapopan Jalisco.<span class="ms-2"><a href="">mapa</a></span></div>
                        <div class="tab-pane fade" id="v-pills-media" role="tabpanel" aria-labelledby="v-pills-media-tab">
                          <div class="d-grid gap-3 align-items-center" style="grid-template-columns: 1fr 2fr;">
                              <img class="img-fluid img-thumbnail" src="assets/images/jewelry.jpg">
                              <img class="img-fluid img-thumbnail" src="assets/images/rest.jpg">
                              <img class="img-fluid img-thumbnail" src="assets/images/tech.jpg">
                              <img class="img-fluid img-thumbnail" src="assets/images/clothes.jpg">
                          </div>
                        </div>
                      </div>
                    </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Side Content -->
  <div class="col-lg-4 col-md-12 col-sm-12 col-12">
      <div class="col-lg-12">
          <div class="card shadow-sm">
              <div class="mt-4 mb-2 ms-3">
                  <h4 class="card-title">Estos son tus directorios:</h4>
              </div>
              <div class="card-body">
                  <a type="button" class="btn btn-primary btn-sm mb-2">Plaza Galerias</a>
                  <a type="button" class="btn btn-primary btn-sm mb-2">Plaza Andares</a>
                  <a type="button" class="btn btn-primary btn-sm mb-2">La Gran Plaza</a>
                  <a type="button" class="btn btn-primary btn-sm mb-2">Plaza Midtown</a>
              </div>
          </div>
      </div>
      <div class="col-lg-12 my-4">
          <div class="card shadow-sm">
              <div class="mt-4 mb-2 ms-3">
                  <h4 class="card-title">Tus promociones:</h4>
              </div>
              <div class="card-body">
                  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                          <img src="assets/images/shoes01.jpg" class="d-block w-100 rounded" alt="...">
                          <div class="carousel-caption d-none d-md-block">
                            <h6 class="text-muted">Zapatos Hugo Boss Azules en Talla 28</h6>
                            <div class="d-flex justify-content-between align-items-end">
                                  <div class="col-lg-8">
                                      <p class="text-muted">Suela de Caucho Zapatos Derby en piel de becerro con suela de piel completa.</p>
                                      <a href="">33 1234 5678</a>
                                  </div>
                                  <div class="col-lg-4">
                                      <p class="text-end"><small>Vigencia:<br>13/ago/21</small></p>
                                  </div>
                            </div>
                          </div>
                        </div>
                         <div class="carousel-item">
                          <img src="assets/images/shoes01.jpg" class="d-block w-100 rounded" alt="...">
                          <div class="carousel-caption d-none d-md-block">
                            <h6 class="text-muted">Zapatos Hugo Boss Azules en Talla 28</h6>
                            <div class="d-flex justify-content-between align-items-end">
                                  <div class="col-lg-8">
                                      <p class="text-muted">Suela de Caucho Zapatos Derby en piel de becerro con suela de piel completa.</p>
                                      <a href="">33 1234 5678</a>
                                  </div>
                                  <div class="col-lg-4">
                                      <p class="text-end"><small>Vigencia:<br>13/ago/21</small></p>
                                  </div>
                            </div>
                          </div>
                        </div>
                        <div class="carousel-item">
                          <img src="assets/images/shoes01.jpg" class="d-block w-100 rounded" alt="...">
                          <div class="carousel-caption d-none d-md-block">
                            <h6 class="text-muted">Zapatos Hugo Boss Azules en Talla 28</h6>
                            <div class="d-flex justify-content-between align-items-end">
                                  <div class="col-lg-8">
                                      <p class="text-muted">Suela de Caucho Zapatos Derby en piel de becerro con suela de piel completa.</p>
                                      <a href="">33 1234 5678</a>
                                  </div>
                                  <div class="col-lg-4">
                                      <p class="text-end"><small>Vigencia:<br>13/ago/21</small></p>
                                  </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </button>
                    </div>
              </div>
          </div>
      </div>

      </div>
  </div>
