<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">{{directory.name}} </h1>
  <div class="d-flex">
    <a class="btn btn-primary me-1" [routerLink]="['/dashboard/register-member',directoryId]">Nuevo miembro</a>

    <a class="btn btn-primary me-1" [routerLink]="['/shared-directory',directoryId]">Enviar invitación</a>

    <a class="btn btn-primary me-1" [routerLink]="['/shared-directory',directoryId]">Enviar flyer</a>

    <div class="dropdown">
      <button class="btn btn-danger dropdown-toggle ms-1" type="button" id="dropdownMenuButton1"
        data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fas fa-cog"></i>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" [routerLink]="['/dashboard/register-member',directoryId]">Actualizar ficha</a></li>
        <li><a class="dropdown-item"
          nz-popconfirm
          nzPopconfirmTitle="Estas seguro de eliminar el directorio?"
          nzPopconfirmPlacement="bottom"
          (nzOnConfirm)="confirmDelete(directory)">Eliminar ficha</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="col-lg-12">
    <div class="card shadow-sm">
        <img [src]="getImg('header')" class="card-img-top img-gluid" alt="Galerías Guadalajara">
        <div class="card-body">
            <div class="position-relative">
                <img [src]="getImg('profile')" class="img-fluid rounded-circle position-absolute position-absolute bottom-0 start-0" width="10%">
            </div>
            <div class="d-flex justify-content-between mt-2">
                <h5 class="card-title">{{directory.name}}</h5></div>
        </div>
    </div>
</div>
<div class="row d-flex justify-content-center align-items-center py-4">
    <div class="col-lg-3 col-md-6 col-sm-6 mb-4" *ngFor="let member of directory.members">
        <div class="card shadow-sm">
            <img class="img-thumbnail" *ngFor="let img of member.images;let first = first" [hidden]="!first" [src]="img.base64" alt="">
            <div class="card-body">
                <a [routerLink]="['/dashboard/company/',member.id]">
                    <h5 class="card-title">{{member.name}}</h5>
                    <p class="card-text">{{member.short_description}}</p>
                </a>
            </div>
        </div>
    </div>
</div>
